<div class="text-center my-auto">
    <div class="my-3 mx-auto" style="width: 180px; height: 180px; border-radius: 20px; overflow: hidden;">
        <img src="img/profile-square.jpg"
             alt="Profile photo."
             class="img-fluid" style="height: 100%; width: 100%; object-fit: cover; display: block;">
    </div>
    
    <h1 class="h3">Mikołaj Złotek</h1>
    <p class="text-muted">Junior .NET Developer</p>
</div>

@code {
}