@page "/resume"

<PageTitle>Resume</PageTitle>

<article class="fade-in">
    <div class="d-flex my-3 my-md-0 px-md-3">
        <h2 class=" my-3 me-auto display-5 fw-bold mb-4">Resume</h2>
        <div class="d-flex flex-column flex-md-row">
            <a href="cv/CV_EN.pdf"
               target="_blank"
               rel="noopener noreferrer"
               class="btn btn-outline-warning my-auto me-2 w-100 text-nowrap">
                <i class="bi bi-file-earmark-person"></i> Download CV EN
            </a>
            <a href="cv/CV_PL.pdf"
               target="_blank"
               rel="noopener noreferrer"
               class="btn btn-outline-warning my-auto w-100 text-nowrap">
                <i class="bi bi-file-earmark-person"></i> Download CV PL
            </a>
        </div>
    </div>

    <hr />

    <div class="row g-0">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <i class="bi bi-book fs-5"></i>
        </div>
        <div class="col-11 d-flex align-items-center">
            <h3 class="h3 fw-bold mb-0">Education</h3>
        </div>
    </div>

    <div class="row g-0 align-items-baseline">
        <div class="col-1 d-flex justify-content-center">
            <i class="bi bi-dot fs-4 text-warning"></i>
        </div>
        <div class="col-11">
            <h5 class="fw-bold mb-0">Warsaw University of Technology,</h5>
            <p class="text-muted mb-0 p-0 m-0">
                Computer Science and Information Systems (Engineering, third year),
            </p>
            <p class="mb-0 p-0 m-0">
                Faculty of Mathematics and Information Science.
            </p>
            <p class="text-warning">
                10.2023 – expected completion: 03.2027
            </p>
        </div>
    </div>

    <div class="row g-0 align-items-baseline">
        <div class="col-1 d-flex justify-content-center">
            <i class="bi bi-dot fs-4 text-warning"></i>
        </div>
        <div class="col-11">
            <h5 class="fw-bold mb-0">Warsaw University of Technology,</h5>
            <p class="text-muted mb-0 p-0 m-0">
                Electronics (Engineering),
            </p>
            <p class="mb-0 p-0 m-0">
                Faculty of Electronics and Information Technology.
            </p>
            <p class="text-warning">
                10.2022 – 06.2023
            </p>
        </div>
    </div>

    <hr />

    <div class="row g-0">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <i class="bi bi-book fs-5"></i>
        </div>
        <div class="col-11 d-flex align-items-center">
            <h3 class="h3 fw-bold mb-0">Projects</h3>
        </div>
    </div>

    <div class="row g-0 align-items-baseline">
        <div class="col-1 d-flex justify-content-center">
            <i class="bi bi-dot fs-4 text-warning"></i>
        </div>
        <div class="col-11">
            <h5 class="fw-bold mb-0">
                MiniTest Framework
            </h5>
            <p class="text-muted mb-0 p-0 m-0">
                A lightweight unit testing framework that enables dynamic test discovery and execution. Provides attributes for
                marking test methods, assertion mechanisms, and support for parameterized tests.
            </p>
            <p class="mb-0 p-0 m-0">
                Technologies: C#, .NET 8
            </p>
            <p class="text-warning">
                <a href="https://github.com/srebrek/MiniTest.git" target="_blank" class="link-warning text-break">
                    https://github.com/srebrek/MiniTest.git
                </a>
            </p>
        </div>
    </div>

    <div class="row g-0 align-items-baseline">
        <div class="col-1 d-flex justify-content-center">
            <i class="bi bi-dot fs-4 text-warning"></i>
        </div>
        <div class="col-11">
            <h5 class="fw-bold mb-0">
                TicketChecker
            </h5>
            <p class="text-muted mb-0 p-0 m-0">
                A tool for monitoring and notifying about ticket availability for selected events.
            </p>
            <p class="mb-0 p-0 m-0">
                Technologies: Python (Selenium, Win11Toast), Windows Task Scheduler
            </p>
            <p class="text-warning">
                <a href="https://github.com/srebrek/TicketChecker.git" target="_blank" class="link-warning text-break">
                    https://github.com/srebrek/TicketChecker.git
                </a>
            </p>
        </div>
    </div>

    <div class="row g-0 align-items-baseline">
        <div class="col-1 d-flex justify-content-center">
            <i class="bi bi-dot fs-4 text-warning"></i>
        </div>
        <div class="col-11">
            <h5 class="fw-bold mb-0">
                Champion Selector
            </h5>
            <p class="text-muted mb-0 p-0 m-0">
                An AI-based program for optimizing champion selection in the game League of Legends.
            </p>
            <p class="mb-0 p-0 m-0">
                Technologies: Python (Scikit-Learn, Selenium)
            </p>
            <p class="text-warning">
                <a href="https://github.com/srebrek/LOLChampionSelector.git" target="_blank" class="link-warning text-break">
                    https://github.com/srebrek/LOLChampionSelector.git
                </a>
            </p>
        </div>
    </div>

    <hr />

    <div class="row g-0">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <i class="bi bi-book fs-5"></i>
        </div>
        <div class="col-11 d-flex align-items-center">
            <h3 class="h3 fw-bold mb-0">Experience</h3>
        </div>
    </div>

    <div class="row g-0 align-items-baseline">
        <div class="col-1 d-flex justify-content-center">
            <i class="bi bi-dot fs-4 text-warning"></i>
        </div>
        <div class="col-11">
            <h5 class="fw-bold mb-0">Backend Developer Apprentice</h5>
            <p class="text-muted mb-0 p-0 m-0">
                Mobitouch Ltd
            </p>
            <p class="mb-0 p-0 m-0 text-warning">
                07.2025 - 10.2025
            </p>
            <p>
                <ul>
                    <li>Contribution to the development of the 
                        <a href="https://github.com/wisedev-code/MaIN.NET" target="_blank" class="link-warning">
                            MaIN.NET (Modular Artificial Intelligence Network)</a>
                        framework, which is a versatile .NET package designed to streamline the integration of large language models (LLMs) into advanced AI workflows.</li>
                    <li>Collaboration within the project team, utilizing task management and communication tools (Discord, GitHub, Jira).</li>
                    <li>Design and implementation of software components using C# and front-end components with Blazor.</li>
                    <li>Introduction to database technologies: data modeling, integration with applications, and utilization of SQL and NoSQL.</li>
                    <li>Understanding the operation of large language models (LLMs), their applications in software development, and integration with systems (e.g., via API).</li>
                    <li>Familiarization with occupational health and safety (OHS) principles and the company's internal IT security procedures.</li>
                </ul>
            </p>
        </div>
    </div>

</article>

@code {

}
