@page "/setplaylist"

@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@using SetPlayList.Api.Support;

@inject NavigationManager NavManager

<PageTitle>SetPlayList</PageTitle>

<section class="fade-in">
    <div class="px-md-3">
        <h2 class=" my-3 display-5 fw-bold mb-4">SetPlayList</h2>
        <p class="lead">
            An online tool to quickly save concert setlist from
            <a href="https://www.setlist.fm/" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">setlist.fm</a>
            as a playlist on Spotify.
        </p>
        <p>
            Simply paste a setlist link from
            <a href="https://www.setlist.fm/" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">setlist.fm</a>:
        </p>

        <EditForm EditContext="@editContext" FormName="linkForm" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />

            <div class="form-group mb-3">
                <label for="linkInput">Enter Url:</label>
                <InputText id="linkInput" class="form-control" @bind-Value="_linkModel.Link" placeholder="eg. https://www.setlist.fm/setlist/rammstein/2022/pge-narodowy-warsaw-poland-33b2b0fd.html" />
                <div class="invalid-feedback d-block">
                    <ValidationMessage For="@(() => _linkModel.Link)" />
                </div>
            </div>

            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="alert alert-danger mt-3">
                    @_errorMessage
                </div>
            }

            <button type="submit" class="btn btn-warning mt-3">Confirm</button>
        </EditForm>

    </div>
</section>

@code {
    [SupplyParameterFromForm]
    private LinkModel? _linkModel { get; set; }
    private string _errorMessage = string.Empty;
    private EditContext? editContext;

    public class LinkModel
    {
        [Required(ErrorMessage = "Url is required.")]
        [Url(ErrorMessage = "Paste valid Url (eg. https://www.setlist.fm/setlist/rammstein/2022/pge-narodowy-warsaw-poland-33b2b0fd.html).")]
        public string Link { get; set; } = string.Empty;
    }

    protected override void OnInitialized()
    {
        if (_linkModel is null)
        {
            _linkModel = new();
        }
        editContext = new(_linkModel);
        editContext.SetFieldCssClassProvider(new BootstrapFieldCssClassProvider());
    }

    private async Task HandleValidSubmit()
    {
        _errorMessage = string.Empty;

        var uri = new Uri(_linkModel.Link);
        string? extractedCode = null;

        var regex = new Regex(@"-([a-f0-9]+)\.html$", RegexOptions.IgnoreCase);
        var match = regex.Match(uri.AbsolutePath);
        if (match.Success && match.Groups.Count > 1)
        {
            extractedCode = match.Groups[1].Value;
        }

        if (string.IsNullOrEmpty(extractedCode))
        {
            throw new NotImplementedException();
        }

        string targetUrl = $"/setplaylist/preview/{extractedCode}";
        NavManager.NavigateTo(targetUrl);
        await Task.CompletedTask;
    }
}

<style>
    .validation-message {
        color: var(--bs-form-invalid-color);
    }
</style>