<div class="text-center my-auto">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex">
            <i class="bi bi-envelope-fill me-3 fs-3"></i>
            <div class="text-start lh-sm">
                <small class="text-muted text-uppercase">EMAIL</small>
                <br />
                <small>zlotekmikolaj@gmail.com</small>
            </div>
        </li>
        <li class="list-group-item d-flex">
                <i class="bi bi-phone me-3 fs-3"></i>
                <div class="text-start lh-sm">
                    <small class="text-muted text-uppercase">PHONE</small>
                    <br />
                    <small>+48 883166226</small>
                </div>
        </li>
        <li class="list-group-item d-flex">
                <i class="bi bi-geo-alt-fill me-3 fs-3"></i>
                <div class="text-start lh-sm">
                    <small class="text-muted text-uppercase">LOCATION</small>
                    <br />
                    <small>Warsaw, Poland</small>
                </div>
        </li>
        <li class="list-group-item d-flex gap-3 justify-content-center">
            <a href="https://github.com/srebrek" target="_blank" class="text-decoration-none text-body">
                <i class="bi bi-github fs-3"></i>
            </a>
            <a href="https://linkedin.com/" target="_blank" class="text-decoration-none text-body">
                <i class="bi bi-linkedin fs-3"></i>
            </a>
        </li>
    </ul>
</div>

@code{

}
