:root{
    
}

[data-bs-theme=dark] {
    --bs-body-bg: #1e1e1e;
    --bs-body-bg-rgb: 30, 30, 30;
    --bs-secondary-bg: #262c26;
    --bs-secondary-bg-rgb: 38, 44, 38;
}

body {
    background-color: #161B19;
}

.fade-in {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}